.banner-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: 350px;
}

.banner-container img {
    position: absolute;
    width: 1490px;
    height: 700px;
}