.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 cột, mỗi cột chiếm 1 phần bằng nhau */
    /* grid-template-rows: auto;
    1 hàng với chiều cao tự động */
    gap: 16px;
    /* Khoảng cách giữa các cột */
}

.product-container>* {
    /* Style cho từng sản phẩm */
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
    background-color: #f9f9f9;
    /* Màu nền nhẹ */
    border-radius: 8px;
}

.product-container img {
    width: 100%;
    /* Ảnh chiếm toàn bộ chiều rộng */
    height: 250px;
    border-radius: 8px;
    /* Bo tròn ảnh */
}