/* CSS File: Products.css */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    justify-content: space-between;
    padding: 20px;
}

.product-item {
    width: 100%;
    margin-bottom: 20px;
}

.product-item img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.product-item .product-name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.product-item .product-price {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    color: red;
}

/* Đảm bảo giao diện phù hợp với các màn hình nhỏ hơn */
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 sản phẩm trong 1 hàng cho màn hình vừa */
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        /* 1 sản phẩm trong 1 hàng cho màn hình nhỏ */
    }
}