.cart-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.cart-item-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Giới hạn hiển thị tên sản phẩm ở 2 dòng */
    -webkit-box-orient: vertical;
    /* Hướng các dòng text theo chiều dọc */
    overflow: hidden;
    /* Ẩn text khi vượt quá 2 dòng */
    text-overflow: ellipsis;
    /* Hiển thị dấu "..." nếu tên sản phẩm quá dài */
    font-size: 14px;
    /* Cỡ chữ */
    line-height: 1.2;
    /* Điều chỉnh chiều cao dòng */
}